{:paths ["src/main"]
 :aliases {:cherry {:extra-deps {io.github.squint-cljs/cherry
                                 {:git/sha "0c4e0d1de534a4cf910ed7079638dbcfec8ec8b7"}}}
           :shadow {:extra-deps {thheller/shadow-cljs {:mvn/version "2.22.9"}}
                    :main-opts ["-m" "shadow.cljs.devtools.cli"]}}}
